@model RefuerzaUPT.Models.Cuestionario
@{
    ViewBag.Title = "Agregar";
    int defaultIntentos = 3;
    int defaultDuracion = 60;
    List<SelectListItem> selectListTemas = new List<SelectListItem>();
    foreach (var tema in ViewBag.Temas)
    {
        selectListTemas.Add(new SelectListItem() { Text = tema.nombre, Value = tema.temaID.ToString() });
    }
    List<RefuerzaUPT.Models.Pregunta> listaPreguntas = new List<RefuerzaUPT.Models.Pregunta>();
    try
    {
        listaPreguntas = new RefuerzaUPT.Models.Pregunta().ListarPorCuestionario(Model.cuestionarioID);
    }
    catch (Exception) { }
}
@if (Model == null)
{
    <center><h1>No se encontro el cuestionario</h1></center>
}
else
{
    if (Model.Tema != null)
    {
        <center><h1>Cuestionario @Model.Tema.Curso.nombre - @Model.Tema.nombre</h1></center>
    }
    else
    {
        <center><h1>Nuevo Cuestionario</h1></center>
    }
    <hr />
    using (Html.BeginForm("Guardar", "Cuestionario", FormMethod.Post, new { id = "frm-cuestionario" }))
    {
        <div id="Cuestionario">
            @Html.HiddenFor(m => m.cuestionarioID)
            <div id="Cabecera">
                <div class="row">
                    <div class="col-sm-1">
                        Tema
                    </div>
                    <div class="col">
                        @Html.DropDownListFor(x => x.temaID, selectListTemas, " Seleccione un tema ", new { @class = "form-control", @required = "true", @onchange = "GuardarEnSession()" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        Duracion
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" id="duracion" name="duracion" value="@(Model.duracion > 0 ? Model.duracion : defaultDuracion)" min="10" max="180" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        Intentos
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" id="intentos" name="intentos" value="@(Model.intentos > 0 ? Model.intentos : defaultIntentos)" min="1" required />
                    </div>
                </div>
            </div>
            <hr />
            <div id="Preguntas">
                @foreach (var item in listaPreguntas)
                {
                    @Html.Partial("_PreguntaCuestionario", item);
                }
            </div>
        </div>
    }

    <div class="row">
        <button id="AgregarPregunta" type="button" class="btn btn-primary">Agregar Pregunta</button>
    </div>

    <div class="row float-right">
        <button id="GuardarCuestionario" type="button" class="btn btn-success">Guardar</button>
    </div>

    <script type="text/javascript">

    /**
     *
     */
    $('#AgregarPregunta').click(function () {
        var url = '@Url.Action("AgregarPregunta", "Cuestionario")';
        $.ajax({
            type: "POST",
            async: true,
            url: url,
            success: function (response) {
                //document.getElementById('Preguntas').innerHTML += response;
                document.getElementById('Preguntas').insertAdjacentHTML('beforeend', response);
            }
        });
        //$.post(url, function (response) {
        //    document.getElementById('Cuestionario').innerHTML += response;
        //});
    });

    /**
     *
     */
    $('#GuardarCuestionario').click(function () {
        var all = $('input[name*=".cuestionarioID"]').map(function () {
            return this;
        }).get();
        all.forEach(function (element) {
            element.value = '@(Model.cuestionarioID)';
        });

        var all = $('input[name*=".tipoPreguntaID"]').map(function () {
            return this;
        }).get();
        all.forEach(function (element) {
            if (element.value == '0') {
                element.value = '2';
            }
        });

        $('#frm-cuestionario').submit();
    });
    </script>

    <script type="text/javascript">

        /**
         *
         * @@param _id
         */
        function AgregarAlternativa(_id) {
            var respuestaCorrectaID = _id.replace('Boton_', '').replace('preguntaID', 'respuestaCorrecta');
            var respuestaCorrectaName = respuestaCorrectaID.replace('Pregunta_', 'Pregunta[').replace('__respuestaCorrecta', '].respuestaCorrecta');
            var enunciadoAlternativaID = _id.replace('Boton_', '').replace('preguntaID', 'enunciadoAlternativa');
            var enunciadoAlternativaName = respuestaCorrectaID.replace('Pregunta_', 'Pregunta[').replace('__respuestaCorrecta', '].enunciadoAlternativa');
            var tipoPreguntaID = _id.replace('Boton_', '').replace('preguntaID', 'tipoPreguntaID');
            var typePregunta = document.getElementById(tipoPreguntaID).value;
            var type;
            switch (typePregunta) {
                case '1':
                    type = 'radio';
                    break;
                case '2':
                    type = 'checkbox';
                    break;
                default:
                    type = 'checkbox';
            }
            var element = document.getElementById(_id);
            var parent = element.closest('.panel-body');
            var child = parent.children[0];
            var alternativaID = _id.replace('Boton_', '').replace('preguntaID', 'alternativaID');
            var alternativaName = respuestaCorrectaID.replace('Pregunta_', 'Pregunta[').replace('__respuestaCorrecta', '].alternativaID');
            child.insertAdjacentHTML('beforeend',
                '<div class="input-group">' +
                '<input type="hidden" id="' + alternativaID + '" name="' + alternativaName + '" value="0" />' +
                '<div class="input-group-prepend">' +
                '<div class="input-group-text">' +
                '<input type="' + type + '" id="' + respuestaCorrectaID + '" name="' + respuestaCorrectaName + '" value="false" onchange="CambiarValor(this)" />' +
                '<input type="hidden" name ="' + respuestaCorrectaName + '" value="false" />' +
                '</div>' +
                '</div>' +
                '<input type="text" id="' + enunciadoAlternativaID + '" name="' + enunciadoAlternativaName + '" class="form-control" />' +
                '</div>'
            );
        };

        /**
         *
         * @@param _id
         */
        function EliminarAlternativa(_id) {
            var newID = _id.replace('Boton_', '');
            var value = document.getElementById(newID).value;
            var url = '@Url.Action("EliminarAlternativa", "Cuestionario")';
            $.ajax({
                type: "POST",
                async: true,
                data: { _id: value },
                url: url,
                success: function (response) {
                    console.log(response);
                    document.getElementById(_id).disabled = true;
                    document.getElementById(newID).disabled = true;
                    document.getElementById(newID.replace('alternativaID', 'respuestaCorrecta')).disabled = true;
                    document.getElementById(newID.replace('alternativaID', 'respuestaCorrecta')).closest('.input-group-text').children[1].disabled = true;
                    document.getElementById(newID.replace('alternativaID', 'enunciadoAlternativa')).disabled = true;
                }
            });
        };

        /**
         *
         * @@param _elemento
         */
        function CambiarValor(_elemento) {
            _elemento.checked ? _elemento.value = "true" : _elemento.value = "false";
        };
    </script>
}