@model IEnumerable<RefuerzaUPT.Models.Cuestionario>
@{
    ViewBag.Title = "Cuestionario";
    RefuerzaUPT.Models.Usuario usuario = new RefuerzaUPT.Models.Usuario().Obtener(RefuerzaUPT.Models.SessionHelper.GetUser());
}
<h2>
    Mis Cuestionarios
</h2>
<br />
@if (usuario.tipoUsuarioID == 1)
{
    foreach (var curso in ViewBag.misCursos)
    {
        <h3>
            @curso.nombre
            <a class="btn btn-outline-primary" href="~/Cuestionario/AgregarEditar?_cursoID=@curso.cursoID">Nuevo</a>
        </h3>
        <table class="table">
            <tr>
                <th>
                    #
                </th>
                <th>
                    Tema
                </th>
                <th>
                    Duracion (minutos)
                </th>
                <th>
                    Intentos
                </th>
                <th>
                    Acciones
                </th>
            </tr>
            @foreach (var item in Model)
            {
                if (item.Tema.cursoID == curso.cursoID)
                {
                    <tr>
                        <td>
                            @item.cuestionarioID
                        </td>
                        <td>
                            @item.Tema.nombre
                        </td>
                        <td>
                            @item.duracion
                        </td>
                        <td>
                            @item.intentos
                        </td>
                        <td>
                            <a class="btn btn-outline-info" href="~/Cuestionario/Ver?_id=@item.cuestionarioID">Ver</a>
                            <a class="btn btn-outline-warning" href="~/Cuestionario/AgregarEditar?_id=@item.cuestionarioID">Editar</a>
                            <a class="btn btn-outline-danger" onclick="EliminarCuestionario(@item.cuestionarioID)" href="#">Eliminar</a>
                        </td>
                    </tr>
                }
            }
        </table>
    }
}
else
{
    foreach (var curso in ViewBag.cursos)
    {
        <h3>
            @curso.nombre
        </h3>
        <table class="table">
            <tr>
                <th>
                    #
                </th>
                <th>
                    Tema
                </th>
                <th>
                    Duracion (minutos)
                </th>
                <th>
                    Intentos/Total
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Intentos
                </th>
                <th>
                    Acciones
                </th>
            </tr>
            @foreach (var item in Model)
            {
                double mayor = 0;
                List<RefuerzaUPT.Models.IntentoCuestionario> intentosCuestionario = new RefuerzaUPT.Models.IntentoCuestionario().ListarPorCuestionarioUsuario(item.cuestionarioID, usuario.usuarioID);
                if (item.Tema.cursoID == curso.cursoID)
                {
                    <tr>
                        <td>
                            @item.cuestionarioID
                        </td>
                        <td>
                            @item.Tema.nombre
                        </td>
                        <td>
                            @item.duracion
                        </td>
                        <td>
                            @intentosCuestionario.Count/@item.intentos 
                        </td>
                        <td>
                            @if (intentosCuestionario != null && intentosCuestionario.Count > 0)
                            {
                                mayor = 0;
                                foreach (var intento in intentosCuestionario)
                                {
                                    if (intento.nota > mayor)
                                    {
                                        mayor = intento.nota;
                                    }
                                }
                                if (mayor >= 10.5)
                                {
                                    <span style="color:lawngreen">Aprobado</span>
                                }
                                else
                                {
                                    <span style="color:orangered">Desaprobado</span>
                                }
                            }
                            else
                            {
                                <span style="color:ivory">Sin intentar</span>
                            }
                        </td>
                        <td>
                            @foreach (var intento in intentosCuestionario)
                            {
                                <a href="~/Cuestionario/VerIntento?_id=@intento.intentoCuestionarioID">@intento.intentoCuestionarioID</a>
                            }
                        </td>
                        <td>
                            @{
                                double desbloquearAprobado = 0;
                                RefuerzaUPT.Models.CuestionarioBloqueado cuestionarioBloqueado = new RefuerzaUPT.Models.CuestionarioBloqueado().ObtenerCuestionarioDesbloquear(item.cuestionarioID);
                                if (cuestionarioBloqueado.cuestionarioBloqueadoID > 0)
                                {
                                    List<RefuerzaUPT.Models.IntentoCuestionario> intentoCuestionario = new RefuerzaUPT.Models.IntentoCuestionario().ListarPorCuestionarioUsuario(cuestionarioBloqueado.cuestionarioRequeridoID, usuario.usuarioID);
                                    if (intentoCuestionario != null && intentoCuestionario.Count > 0)
                                    {
                                        desbloquearAprobado = 0;
                                        foreach (var intento in intentoCuestionario)
                                        {
                                            if (intento.nota > desbloquearAprobado)
                                            {
                                                desbloquearAprobado = intento.nota;
                                            }
                                        }
                                    }
                                }
                            }
                            @if (cuestionarioBloqueado.cuestionarioBloqueadoID > 0 && desbloquearAprobado < 10.5 && mayor < 10.5)
                            {
                                <button type="button" class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="Para desbloquear este cuestionario necesitas aprobar el cuestionario #@(cuestionarioBloqueado.cuestionarioRequeridoID).">
                                    Bloqueado
                                </button>
                            }
                            else
                            {
                                if (intentosCuestionario.Count < item.intentos && mayor < 10.5)
                                {
                                    <a class="btn btn-outline-success" onclick="return ConfirmarNuevoIntento()" href="~/Cuestionario/Intento?_id=@item.cuestionarioID">Nuevo intento</a>
                                }
                                else
                                {
                                    if (mayor >= 10.5)
                                    {
                                        <a class="btn btn-outline-info" href="javascript:void(0)">Imprimir</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-light" href="javascript:void(0)">Sin intentos</a>
                                    }
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    }
}
<script type="text/javascript">
    function ConfirmarNuevoIntento() {
        return confirm('Estas seguro que quieres empezar un nuevo intento?');
    };
    function EliminarCuestionario(_item) {
        var url = '/Cuestionario/Eliminar?_id=' + _item;
        var response = confirm("Estas seguro que quieres eliminar este cuestionario?");
        if (response) {
            $.post(url, function () {
                window.location.reload();
            });
        }
    };
</script>