@model IEnumerable<RefuerzaUPT.Models.Cuestionario>
@{
    ViewBag.Title = "Cuestionario";
}
<h2>
    Mis Cuestionarios
    <a class="btn btn-outline-primary" href="~/Cuestionario/AgregarEditar">Nuevo</a>
</h2>
<br />
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Curso - Tema
        </th>
        <th>
            Duracion
        </th>
        <th>
            Intentos
        </th>
        <th>
            Estado
        </th>
        <th>
            Acciones
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cuestionarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tema.Curso.nombre) - @Html.DisplayFor(modelItem => item.Tema.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intentos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                <a class="btn btn-outline-info" href="~/Cuestionario/Ver?_id=@item.cuestionarioID">Ver</a>
                <a class="btn btn-outline-warning" href="~/Cuestionario/AgregarEditar?_id=@item.cuestionarioID">Editar</a>
                <a class="btn btn-outline-danger" onclick="EliminarCuestionario(@item.cuestionarioID)" href="#">Eliminar</a>
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    function EliminarCuestionario(_item) {
        var url = '/Cuestionario/Eliminar?_id=' + _item;
        var response = confirm("Estas seguro que quieres eliminar este cuestionario?");
        if (response) {
            $.post(url, function () {
                window.location.reload();
            });
        }
    };
</script>