@using HtmlHelpers.BeginCollectionItem
@model RefuerzaUPT.Models.Alternativa
@if (Model.Pregunta.tipoPreguntaID == 2)
{
    <div class="custom-control custom-checkbox">
        @Html.CheckBoxFor(m => m.respuestaCorrecta, new { @class = "custom-control-input" })        
        <label class="custom-control-label" for="@Model.respuestaCorrecta">
            @Html.TextBoxFor(m => m.enunciadoAlternativa, new { @class = "form-control", @style = "width:400%" })
        </label>
    </div>
}
else
{
    <div class="custom-control custom-radio">
        @Html.RadioButtonFor(m => m.respuestaCorrecta, Model.respuestaCorrecta, new { @class = "custom-control-input" })
        <label class="custom-control-label" for="@Model.respuestaCorrecta">
            @Html.TextBoxFor(m => m.enunciadoAlternativa, new { @class = "form-control", @style = "width:400%" })
        </label>
    </div>
}