@using HtmlHelpers.BeginCollectionItem
@model RefuerzaUPT.Models.Pregunta
@{
    List<RefuerzaUPT.Models.Alternativa> listaAlternativas = new List<RefuerzaUPT.Models.Alternativa>();
    try
    {
        listaAlternativas = new RefuerzaUPT.Models.Alternativa().ListarPorPregunta(Model.preguntaID);
    }
    catch (Exception) { }
}
@using (Html.BeginCollectionItem("Pregunta"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Html.HiddenFor(m => m.preguntaID)
                @Html.HiddenFor(m => m.tipoPreguntaID)
                @Html.HiddenFor(m => m.cuestionarioID)
                @Html.TextBoxFor(m => m.enunciadoPregunta, new { @class = "form-control" })
            </h3>
            @if (!string.IsNullOrEmpty(Model.imagen))
            {
                <h1>ACA HAY UNA IMAGEN</h1>
            }
        </div>
        <div class="panel-body">
            @foreach (var item in listaAlternativas)
            {
                <div class="input-group">
                    @Html.Partial("_AlternativaPregunta", item)
                </div>
            }
            <br />
            <input type="button" class="btn btn-outline-info" id="Boton_@Html.IdFor(m => m.preguntaID)" onclick="AgregarAlternativa(this.id)" value="Agregar" />
            <input type="button" class="btn btn-outline-danger" id="Boton_@Html.IdFor(m => m.preguntaID)" onclick="EliminarAlternativa(this.id)" value="Eliminar" />
        </div>
    </div>
    <br />
}
<script type="text/javascript">
    function AgregarAlternativa(_id) {
        var respuestaCorrectaID = _id.replace('Boton_', '').replace('preguntaID', 'respuestaCorrecta');
        var respuestaCorrectaName = respuestaCorrectaID.replace('Pregunta_', 'Pregunta[').replace('__respuestaCorrecta', '].respuestaCorrecta');
        var enunciadoAlternativaID = _id.replace('Boton_', '').replace('preguntaID', 'enunciadoAlternativa');
        var enunciadoAlternativaName = respuestaCorrectaID.replace('Pregunta_', 'Pregunta[').replace('__respuestaCorrecta', '].enunciadoAlternativa');
        var element = document.getElementById(respuestaCorrectaID);
        var alternativaType = 2;
        var type;
        switch (alternativaType) {
            case 1:
                type = 'radio';
                break;
            case 2:
                type = 'checkbox';
                break;
            default:
                type = 'checkbox';
        }
        var parent = element.closest('.input-group');
        parent.innerHTML += 
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<input type="' + type + '" id="' + respuestaCorrectaID + '" name="' + respuestaCorrectaName + '" />' +
            '</div>' +
            '</div>' +
            '<input type="text" id="' + enunciadoAlternativaID + '" name="' + enunciadoAlternativaName + '" class="form-control" />';
    };
    function EliminarAlternativa(_id) {
        var nuevoID = _id.replace('Boton_', '').replace('preguntaID', 'respuestaCorrecta');
    };
</script>