@using HtmlHelpers.BeginCollectionItem
@model RefuerzaUPT.Models.Pregunta
@{
    List<RefuerzaUPT.Models.Alternativa> listaAlternativas = new List<RefuerzaUPT.Models.Alternativa>();
    try
    {
        listaAlternativas = new RefuerzaUPT.Models.Alternativa().ListarPorPregunta(Model.preguntaID);
    }
    catch (Exception) { }
}
@using (Html.BeginCollectionItem("Pregunta"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Html.HiddenFor(m => m.preguntaID)
                @Html.HiddenFor(m => m.tipoPreguntaID)
                @Html.HiddenFor(m => m.cuestionarioID)
                @Html.TextBoxFor(m => m.enunciadoPregunta, new { @class = "form-control" })
            </h3>
            @if (!string.IsNullOrEmpty(Model.imagen))
            {
                <h1>ACA HAY UNA IMAGEN</h1>
            }
        </div>
        <div class="panel-body">
            <div class="div-alternativas">
                @foreach (var item in listaAlternativas)
                {
                    <div class="input-group">
                        @Html.Partial("_AlternativaPregunta", item)
                    </div>
                }
            </div>
            <br />
            <input type="button" class="btn btn-outline-info" id="Boton_@Html.IdFor(m => m.preguntaID)" onclick="AgregarAlternativa(this.id)" value="Agregar" />
            <input type="button" class="btn btn-outline-danger" id="Boton_@Html.IdFor(m => m.preguntaID)" onclick="EliminarAlternativa(this.id)" value="Eliminar" />
        </div>
    </div>
    <br />
}